.container {
	padding-top: 30px;
	max-width: 80em;
}

img {
	max-width: 36em;
	padding: 5px;
}

h1 {
	padding-top: 5px;
	padding-bottom: 5px;
	color: navy;
}

.custom-control-input {
	position: relative;
	z-index: -1;
	opacity: 1;
}

.footer {
	margin-top: 4em;
	padding-top: 0.3em;
	font-size: 0.9em;
	padding-bottom: 0.3em;
}

html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
}

.form-group.form-row.required .col-form-label:after {
	color: #d00;
	content: "*";
}

.login-form {
	width: 20em;
	margin-left: auto;
	margin-right: auto;
}

.login-form input {
	margin-bottom: 1em;
}

.ekko-lightbox-nav-overlay a {
	color: goldenrod;
}
.gallery-title {
	text-align: center;
font-weight: 500;
border-bottom: 1px dotted orange;
margin-top: 1em;
}
