.container {
	padding-top: 30px;
	max-width: 80em;
	min-height: calc(100vh - 56px);
}

img {
	max-width: 36em;
	padding: 5px;
}

h1 {
	padding-top: 5px;
	padding-bottom: 5px;
	color: navy;
}

.custom-control-input {
	position: relative;
	z-index: -1;
	opacity: 1;
}

html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
}
