.login-nav li {
	font-weight: bold;
}

.container {
	max-width: 80em;
}

body > .container {
	padding-top: 1.875rem; /* 30 px */
}

img {
	max-width: min(36em, 90vw);
	padding: .3125rem; /* 5px */
	image-orientation: from-image;
}

.responsive-image {
	width: auto;
	height: auto;
}

h1 {
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	color: navy;
}

.custom-control-input {
	position: relative;
	z-index: -1;
	opacity: 1;
}

.footer {
	margin-top: 4em;
	padding-top: 0.3em;
	font-size: 0.9em;
	padding-bottom: 0.3em;
}

html {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	width: 100%;
}

.form-group.form-row.required .col-form-label:after {
	color: #d00;
	content: "*";
}

.login-form {
	width: 20em;
	margin-left: auto;
	margin-right: auto;
}

.login-form input {
	margin-bottom: 1em;
}

@media only screen and (max-width: 1000px) {
	.navbar-nav .nav-link {
		font-size: 2rem;
	}
}

.navbar-brand {
	padding: .3125rem;
}

.navbar-toggler {
	padding: .75rem .75rem;
}

/* Lightbox */
.ekko-lightbox-item {
	text-align: center;
}

.ekko-lightbox-item > img {
	width: auto !important;
	max-width: 100%;
	max-height: 100%;
}
