// TODO Use bulma sceletons for admin tables loading
// TODO Use @use here
@use "bulma/sass/base";
@use "bulma/sass/base/skeleton";
@use "bulma/sass/themes";
@use "bulma/sass/utilities";
@use "bulma/sass/components/dropdown";
@use "bulma/sass/components/message";
@use "bulma/sass/components/modal";
@use "bulma/sass/components/navbar";
@use "bulma/sass/components/tabs";
@use "bulma/sass/elements/box";
@use "bulma/sass/elements/button";
@use "bulma/sass/elements/content";
@use "bulma/sass/elements/delete";
@use "bulma/sass/elements/progress";
@use "bulma/sass/elements/table";
@use "bulma/sass/elements/title";
@use "bulma/sass/form";
@use "bulma/sass/helpers/color";
@use "bulma/sass/helpers/typography";
@use "bulma/sass/helpers/visibility";
@use "bulma/sass/layout/container";
@use "bulma/sass/layout/footer";
@use "bulma/sass/utilities/initial-variables" as iv;

@use "./lib/glightbox/glightbox.scss";

html {
	height: 100%;
	width: 100%;
}

body {
	min-height: 100%;
	width: 100%;
}

.content h1 {
	color: navy;
}

.required .label:after {
	content: "*";
	color: #d00;
	font-weight: normal;
}

.input::placeholder {
	color: hsla(var(--bulma-input-h),
			var(--bulma-input-s),
			var(--bulma-input-color-l),
			0.8);
}

img {
	/* 5px */
	padding: 0.3125rem;
	image-orientation: from-image;
}

.image-list {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 2.5em;

	margin-top: 2em;
	margin-bottom: 2em;

	@media screen and (max-width: calc(40em * 2)) {
		margin-left: -1em;
		margin-right: -1em;

		:first-child {
			padding-left: 1em;
		}

		:last-child {
			padding-right: 1em;
		}

		background-color: rgb(240, 240, 240);
		overflow-x: auto;
		flex-wrap: nowrap;
	}

	img,
	video {
		max-width: 90vw;
		width: 36em;
		padding: 1em 0 1em 0;
	}
}

.navbar-brand {
	padding: 0.3125rem;
}

.footer {
	margin-top: 2em;
	width: 100%;
}

.table thead,
td.special {
	background: #e9ecef;
}

.table thead.is-sticky {
	position: sticky;
	top: 0;
	z-index: 1;
}

.radio-buttons-as-buttons {
	label {
		@extend button;
	}

	input {
		display: none;
	}
}

@media screen and (min-width: 769px),
print {
	.label {
		font-weight: inherit;
	}

	.field-body {
		flex-grow: 3;
	}
}

@media screen and (max-width: 1230px) {
	.button {
		width: 100%;
	}
}

// GLightbox
.gdownload {
	width: 35px;
	height: 35px;
	top: 15px;
	right: 50px;
	position: absolute;

	&:hover {
		opacity: 1;
	}

	rect {
		fill: #fff;
	}

	@media (min-width: iv.$tablet) {
		opacity: 0.7;
		right: 60px;
	}
}